main{
    margin-top: 30px;
}

.bandera{
    display: flex;
    justify-content: center;
}

.equipo{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.equipo p{
    margin-top: 10px; /* Ajusta el espacio entre la imagen y el párrafo según sea necesario */
}

.pistas{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.pistas div{
    background-color: #BBC5AA;
}

.palmares{
    display: flex;
    justify-content: center;
    align-items: center;
}

.palmares p{
    display: inline;
    margin: 0;
}

.pistas input[type="text"] {
    font-size: 18px;
    padding: 10px 15px; 
    width: 100%; 
    box-sizing: border-box; 
}

.pistas button {
    font-size: 18px;
    padding: 10px 20px;
    width: 100%; 
    box-sizing: border-box; 
}